# textdomain: tunnelmaker
# Translated by your_name
Tunnelmaker - User Options=
General purpose mode=
Advanced trains mode=
Bike path mode=
Wide paths / lined tunnels=
Continuous up/down digging=
Clear tree cover=
Remove reference nodes=
Lock desert mode to:=
Desert=
Non-desert=
Exit=
Automatically disabled after 2 min.=
